<launch>
	<node pkg= "tensorflow_object_detector" name="model_ssd_v1" type="detect_ros_ssd_v1.py"  output="screen"> 
    <remap from="image" to="/bebop/image_raw"/> <!-- /bebop/image_raw -->
	</node>

  <node pkg="image_view" type="image_view" name="image_view">
    <remap from="image" to="debug_image"/>
  </node>
  
</launch>
