<launch>
  <!-- <arg name="markerId"        default="94"/> -->
  <arg name="marker1Id"         default="273"/>
  <arg name="marker2Id"         default="90"/>
  <arg name="markerSize"        default="0.048"/>    <!-- in m -->
  <arg name="dct_normalization" default="True" />
  <arg name="dct_filter_size"   default="2" />
  <arg name="marker1_frame"     default="tag_1" />
  <arg name="marker2_frame"     default="tag_2" />
  <arg name="corner_refinement" default="SUBPIX"/>

  <node pkg="aruco_ros" type="double" name="aruco_double">
      <remap from="/camera_info" to="/bebop/camera_info" />
      <remap from="/image" to="/bebop/image_raw" />
      <param name="image_is_rectified" value="True"/>
      <param name="marker_size" value="$(arg markerSize)"/>
      <param name="marker_id1" value="$(arg marker1Id)"/>
      <param name="marker_id2" value="$(arg marker2Id)"/>
      <param name="normalizeImage" value="$(arg dct_normalization)"/>
      <param name="dct_components_to_remove" value="$(arg dct_filter_size)"/>
      <param name="parent_name" value="drone_base2"/>
      <param name="child_name1" value="$(arg marker1_frame)" />
      <param name="child_name2" value="$(arg marker2_frame)" />
      <param name="corner_refinement" value="$(arg corner_refinement)" />
  </node>

  <node pkg= "tensorflow_object_detector" name="detect_rcnn" type="detect_rcnn.py"  output="screen"> 
    <remap from="image" to="/bebop/image_raw"/> <!-- /usb_cam_node/image_raw or /bebop/image_raw -->
  </node>

<!--   <node pkg= "tensorflow_object_detector" name="filter" type="fusion_filter_kalman.py"  output="screen"> 
  </node> -->

<!--   <node pkg="image_view" type="image_view" name="RCNN">
    <remap from="image" to="rcnn/debug_image"/>
  </node>

  <node pkg="image_view" type="image_view" name="ARUCO">
    <remap from="image" to="/aruco_double/result_img"/>
  </node> -->

</launch>
